@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: 0.3s; */
    font-family: "Inter";
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.App {
    width: 100%;
    height: 100%;
    display: flex;
    color: #222;
    align-items: center;
    position: relative;
    background-color: #eee;
    background-position: center;
    background-size: cover;
}

.login-div {
    z-index: 2;
    backdrop-filter: blur(20px);
    overflow: hidden;
    max-width: 500px;
    width: 90%;
    height: 80%;
    margin-top: 1%;
    position: relative;
    border-radius: 5px;
    /* background: #eee; */
    border: 1px solid #ddd;
    box-shadow: 20px 20px 60px #cacaca,
        -20px -20px 60px #ffffff;
}

.sign-up-div {
    /* transform: translateY(5%); */
    position: absolute;
    top: 12.5%;
    max-width: 700px;
}

.login-category {
    height: 10vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    color: #aaa !important;
    transition: background-color 0.3s;
    background-color: transparent;
    font-weight: bold;
}

.login-category div {
    width: 50%;
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.selected-category {
    transition: background-color 0.3s;
    background-color: rgba(249, 252, 160, 0.3);
    color: #999c33;
    border-bottom: 3px solid #999c33;
}

.login-form {
    width: 100%;
    height: 85%;
    padding: 5%;
}

.login-form input {
    width: 100%;
    height: 40px;
    background-color: rgba(249, 252, 160, 0.3);
    border: none;
    border-bottom: 3px solid #999c33;
    outline: none;
    color: #222;
    padding-left: 2.5%;
}

.sign-up-div .login-form input {
    padding-left: 5%;
}

.login-head {
    font-weight: bolder;
    font-size: 250%;
}

label {
    margin-top: 20px;
    display: block;
}

.submit-btn {
    display: block;
    margin-top: 5%;
    padding: 3% 7.5%;
    font-size: 110%;
    background-color: #999c33;
    color: #eee;
    font-weight: bolder;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.sign-up-hook {
    position: absolute;
    bottom: 20px;
    font-size: 90%;
}

.input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.sub-container {
    width: 50%;
    margin-right: 3%;
}

.sub-container-alt {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sub-container-alt div {
    width: 50%;
    margin-right: 3%;
}

a {
    color: #999c33;
}

@media only screen and (max-width:600px) {
    .input-container {
        flex-direction: column;
    }

    .sub-container,
    .sub-container-alt div {
        width: 100%;
    }

    .sub-container-alt {
        flex-direction: column;
    }

    .sign-up-div {
        height: fit-content;
        padding-bottom: 10%;
    }

    .login-div {
        height: 80%;
    }
}

/* Login ends */


/* Approval page */
.approve-div {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

strong {
    font-weight: bold;
}

.ad-design {
    margin-top: 10px;
}

.accept-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.decline-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.decline-btn:hover {
    background-color: #b52d23;
}

.accept-btn:hover {
    background-color: #2d8430;
}

.ad-inputs {
    z-index: 2;
    backdrop-filter: blur(20px);
    overflow: hidden;
    max-width: 650px;
    width: 90%;
    height: 80%;
    margin-top: 1%;
    position: relative;
    border-radius: 5px;
    /* background: #eee; */
    border: 1px solid #ddd;
    box-shadow: 20px 20px 60px #cacaca,
        -20px -20px 60px #ffffff;
}

.ad-inputs input{
    font-size: 80%;
}

.top-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adupload-form {
    width: 100%;
    height: 85%;
    padding: 5%;
}

.adupload-label {
    margin-bottom: 6%;
    font-size: 95%;
    /* Increased font size for better readability */
}

.adupload-label strong{
    margin-bottom: 5px;
    display: block;
}

.adupload-input {
    width: 100%;
    height: 40px;
    background-color: rgba(249, 252, 160, 0.3);
    border: none;
    border-bottom: 3px solid #999c33;
    outline: none;
    color: #222;
    padding-left: 2.5%;
}

.submit-div {
    display: flex;
}

.submit-div .submit-btn{
    margin-top:1.5%;
    margin-bottom: 5%;
}

.submit-btn:hover {
    background-color: #4646d4;
}

.input-post-image{
    margin: 2.5% 0;
    display: inline-flex;
    align-items: center;
    padding: 2% 5%;
    border-radius: 7px;
    cursor: pointer;
    color:#999c33;
    border: 2px dashed #999c33;
    background-color: rgba(249, 252, 160, 0.3);
    font-family: "Inter";
    font-weight: 600;
    font-size: 90%;
}
.fa-cloud{
    margin-right:15px;
    color:#999c33;
    font-size:100%;
}

.file-input-btn {
    background-color:rgb(76, 76, 235, 0.05);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;   
}
.file-input-button:hover {
    background-color: #0056b3;
  }
.hdg-div{
    display: flex;
}
.hdg-div h2{
    font-size: 250%;
    font-weight: 900;
}

textarea.adupload-input{
    resize: vertical;
    border-radius: 5px;
    padding:10px 15px;
    font-family: "inter";
    font-size: 80%;
    height: 80px;
}
.dropdown-container{
    height: 0vh;
    overflow-x:hidden;
    overflow-y: auto;
    padding:0px;
    transition: height 0.3s;
}
.dropdown-container::-webkit-scrollbar{
    display: none;
}
.dropdown-container .dropdown-item{
    font-size:80%;
    font-family: "Inter";
    font-weight: 500;
    padding:10px;
    transition: background-color 0.2s;
    border-radius: 5px;
}
.dropdown-container .dropdown-item:hover{
    background-color: #ddd;
    cursor: pointer;
}
/* div.adupload-label{
    padding-right: 15%;
} */
label.age-group-label{
    display: inline-block;
    margin-left:2.5%;
    cursor: pointer;
    font-size: 80%;
    margin-top: 10px;
    width: 100px;
}